<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<StackLayout backgroundColor="blue">
    <GridLayout columns="*, 4, *, 4, *" rows="auto" class="tab-group">
        <Button col="0" row="0" text="Szczegóły" class="btn btn-tab tab-first" [class.tab-active]="tabSelectedIndex == 0" (tap)="tabSelectedIndex = 0"></Button>
        <Button col="2" row="0" text="Zadania" class="btn btn-tab" [class.tab-active]="tabSelectedIndex == 1" (tap)="tabSelectedIndex = 1"></Button>
        <Button col="4" row="0" text="Aktywność" class="btn btn-tab" [class.tab-active]="tabSelectedIndex == 2" (tap)="tabSelectedIndex = 2"></Button>
    </GridLayout>
    <Label class="hr-light"></Label>
    <TabView #tabView [(ngModel)]="tabSelectedIndex" (loaded)="onTabsLoaded(tabView)" height="100%">

        <ScrollView *tabItem="{title: 'Szczegóły'}">
            <Home></Home>
        </ScrollView>
        <ScrollView *tabItem="{title:'Zadania'}">
            <Browse></Browse>
        </ScrollView>
        <ScrollView *tabItem="{title:'Aktywność'}">
            <Search></Search>
        </ScrollView>
    </TabView>
</StackLayout>